<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <nav class="d-flex p-2 navbar navbar-expand-lg m-1 ">
    <div class="container-fluid" id="navContent">
      {{!-- <a class="navbar-brand width=" 30" height="24" class="d-inline-block align-text-top">"><img
          src=".../public/images/logo.jpg" alt="computer logo" width="30" height="24"
          class="d-inline-block align-text-top">MVC Tech Blog</a> --}}
      <!-- Conditionally render login or logout links -->
      {{#if logged_in}}

      <a href="/profile">Profile</a>
      <a href='/'>Home</a> |
      <button class="no-button" id="logout">Logout</button>
      {{else}}
      <a href='/'>Home </a>
<a href="/login">Login </a>
      {{!-- <span class="btn"  id="loginButton"><a href="/login">Login </a></span> --}}
      {{/if}}
    </div>
  </nav>

  <main class="container container-fluid mt-5">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>
  <footer>

  </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>
</body>

</html>