
nav {
  border-bottom: 1px solid #ccc;
  height: 300px;
  background-color: #000f07;
  
}
nav::before {    
  content: "";
  background-image: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  
  position: absolute; 
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.50;
}

nav image {
  opacity: 0.5;
}

#navContent {
  display: flex;
  
  justify-content: flex-start;
}


nav a {
  color: white;
  font-family: 'Electrolize', sans-serif;
  font-size: 200%;
  padding: 30px;
}

a {
  color: #3a3c40;
}
img {
  max-width: 10%;
  height: auto;
  opacity: 0.5;
}

#logout {
  color: white;
  font-family: 'Electrolize', sans-serif;
  font-size: 200%;
  padding: 30px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}


